/** @format */
@import url("https://fonts.googleapis.com/css2?family=Jura:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* Styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	outline: none;
	font-family: "Jura", sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	overflow: hidden;
}

:root {
	--line-border-fill: #2cc7ba;
	--button-bg: #01ffea;
	--line-border-empty: rgb(186, 183, 183);
}
/* 1 rem = 16px */
/* End Styles */
/* Mouse */
.mouse-square,
.mouse-dot {
	border-radius: 10%;
	z-index: 300;
	position: fixed;
	transform: translate(-50%, -50%) rotate(45deg);
	opacity: 0;
	pointer-events: none;
}
.mouse-square {
	width: 2rem;
	height: 2rem;
	border: 0.1rem solid var(--line-border-fill);
	animation: mouseCircleAnim 10s infinite linear;
}
@keyframes mouseCircleAnim {
	0% {
		width: 2rem;
		height: 2rem;
	}
	25% {
		width: 4rem;
		height: 4rem;
	}
	35% {
		width: 1rem;
		height: 1rem;
	}
	70% {
		width: 4rem;
		height: 4rem;
	}
	100% {
		width: 2rem;
		height: 2rem;
	}
}
.mouse-dot {
	width: 0.1rem;
	height: 0.1rem;
	background-color: #2d1251;
	border: solid 1px var(--line-border-fill);
	opacity: 0.5;
	animation: mouseDotAnim 10s infinite linear;
}

@keyframes mouseDotAnim {
	0% {
		width: 0.2rem;
		height: 0.2rem;
	}
	60% {
		width: 0.5rem;
		height: 0.5rem;
	}
	100% {
		width: 0.2rem;
		height: 0.2rem;
	}
}
/* End Mouse */

/* Page-bg */
.page-bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(https://images.unsplash.com/photo-1487278811744-bf61a8bd4858?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80)
			center no-repeat;
	background-size: cover;
	z-index: -100;
}

/* End Page-bg */
/* search bar */
.search {
	position: absolute;
	top: 1rem;
	left: 10rem;
	height: 60px;
}

.search .input {
	background-color: aliceblue;
	border: 0;
	font-size: 18px;
	padding: 14px;
	height: 20px;
	width: 40px;
	transition: width 0.3s ease;
}

.srch--btn {
	background-color: var(--line-border-empty);
	border: 0;
	cursor: pointer;
	font-size: 24px;
	right: 0;
	padding-left: 8px;
	padding-right: 8px;
	position: absolute;
	transition: transform 0.3s ease;
}

.search.active .input {
	width: 250px;
}

.search.active .srch--btn {
	transform: translateX(1px);
}
/* End search bar */
/* .img-feed-container {
}
/* Image feed */
.img-feed-container {
	left: 4rem;
	top: 10rem;
	width: 420px;
	height: 620px;
	display: grid;
	position: absolute;
	z-index: -30;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.feed {
	margin: 5px;
	box-shadow: 2px 2px 5px rgb(0, 0, 0);
	box-sizing: border-box;
	display: block;
	object-fit: contain;
	border: 0;
	opacity: 0.4;
	padding: 3px;
}
/* End Image feed */

.welcome {
	color: aliceblue;
	margin: auto;
	text-align: center;
	padding-top: 10rem;
	padding-left: 0;
	font-size: 25px;
}

.create-acc {
	z-index: 0;
	padding-left: 0;
	padding-top: 5rem;
}

.create-account {
	box-shadow: 2px 2px 5px rgb(0, 0, 0);
	background-color: var(--button-bg);
	width: 100px;
	height: 90px;
	border-radius: 10%;
	clip-path: polygon(50% 0, 100% 38%, 100% 100%, 0 100%, 0% 38%);
}

.welcome-2 {
	padding-top: 2rem;
}

.my-account {
	background-color: var(--button-bg);
	margin: 20px;
	width: 120px;
	height: 120px;
	position: absolute;
	top: 30px;
	right: 3rem;
	clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 56%);
}

/* Navbar */
.nav-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 20px;
}

.open-btn {
	position: fixed;
	top: 10px;
	left: 10px;
	color: var(--line-border-fill);
}

.nav {
	z-index: 20;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
}

.nav.visible {
	transform: translateX(0%);
}

.nav-dblue {
	background-color: var(--line-border-fill);
	width: 60%;
	max-width: 250px;
	min-width: 130px;
	transition: 0.4s;
}

.nav-dblue.visible {
	transition: 0s;
}

.nav-lblue {
	background-color: var(--button-bg);
	width: 95%;
}

.nav-white {
	background-color: #e2fffd;
	width: 95%;
	padding: 40px;
	position: relative;
}

.close-btn {
	opacity: 0.3;
	position: absolute;
	top: 40px;
	right: 30px;
}

.list {
	list-style-type: none;
	padding: 0;
}

.list li {
	margin: 15px 0;
}

.home-nav-container {
	width: 10rem;
	height: 40rem;
	position: relative;
}

.home-nav-1,
.home-nav-2,
.home-nav-3 {
	width: 110px;
	height: 100px;
	font-size: 15px;
	margin-top: 8rem;
	margin-bottom: 3rem;
	background-color: var(--button-bg);
	text-align: center;
	clip-path: polygon(100% 0, 100% 50%, 0 100%, 0 56%);
	cursor: pointer;
}
/* End Navbar */
/* Reviews */

.reviews {
	width: 530px;
	height: 210px;
	display: block;
	position: relative;
	color: bisque;
	text-align: center;
	margin: auto;
	padding-left: 2rem;
	top: 10rem;
	z-index: -20;
}

.reviews-container {
	width: 500px;
	height: 210px;
	z-index: -10;
}

.reviews-title {
	font-size: 16px;
	text-align: center;
	padding-left: 0;
}

.review {
	width: 500px;
	height: 200px;
	position: absolute;
	font-size: 20px;
	padding-top: 2rem;
	margin: auto;
}
.review.hidden {
	opacity: 0;
}

.btn {
	background-color: var(--button-bg);
	color: aliceblue;
	border: 0;
	border-radius: 10%;
	cursor: pointer;
	font-family: inherit;
	padding: 10px 20px;
	margin: 0rem 3rem;
	font-size: 12px;
}

.btn:active {
	transform: scale(0.98);
}

.btn:focus {
	outline: 0;
	cursor: not-allowed;
}

.btn:disabled {
	background-color: var(--line-border-empty);
}
/* End Progress bar */

/* End reviews */

/* Announcements */
.announcements-container {
	width: 400px;
	height: 200px;
	position: absolute;
	left: 105rem;
	top: 28rem;
}
.announcement {
	color: var(--button-bg);
	width: 400px;
	height: 200px;
	border-radius: 10%;
	position: flex;
	font-size: 20px;
	text-align: center;
	color: aliceblue;
	background-color: #31b3a82f;
	clip-path: polygon(
		0% 15%,
		15% 15%,
		15% 0%,
		85% 0%,
		85% 15%,
		100% 15%,
		100% 85%,
		85% 85%,
		85% 100%,
		15% 100%,
		15% 85%,
		0% 85%
	);
	padding-top: 8rem;
	border: 0;
	border-radius: 10%;
}

/* End Announcements */
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 28rem;
	top: 0;
	width: 1000px;
	height: 900px;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	height: 700px;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/* Modal Header */
.modal-header {
	padding: 10px 16px;
	background-color: var(--line-border-fill);
	color: white;
	text-align: center;
}

/* Modal Body */
.modal-body {
	padding: 2px 16px;
	height: 670px;
}

/* Modal Footer */
.modal-footer {
	padding: 5px 16px;
	background-color: var(--line-border-fill);
	color: white;
	text-align: center;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Modal Animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

/* Calculator */
.calculator-grid {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(100px, auto) repeat(5, 100px);
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 3rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
	background-color: rgba(255, 255, 255, 0.9);
	transform: scale(0.7);
	border: 2px solid #01ffea;
}

.span-two {
	grid-column: span 2;
}

.output {
	grid-column: 1 / -1;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.output .previous-operand {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
}

.output .current-operand {
	color: white;
	font-size: 2.5rem;
}
/* End Calculator */

@media only screen and (max-width: 820px) {
	.img-feed-container {
		left: 8rem;
		top: 40rem;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 0;
		z-index: -30;
	}

	.feed {
		box-shadow: 2px 2px 5px rgb(0, 0, 0);
		margin: 5px;
		box-sizing: border-box;
		display: block;
		object-fit: contain;
		border: 0;
		padding: 3px;
	}
	/* End Image feed */

	.welcome {
		padding-top: 5rem;
		padding-left: 0;
		text-align: center;
		font-size: 30px;
	}

	.create-acc {
		margin: auto;
		padding-top: 5rem;
		padding-left: 0;
	}
	/* Reviews */

	.reviews {
		top: 50rem;
		padding-left: 0;
	}

	.reviews-container {
		width: 500px;
		height: 210px;
		z-index: -10;
		display: block;
	}

	.reviews-title {
		font-size: 16px;
		text-align: center;
		padding-left: 5rem;
	}

	.review {
		width: 500px;
		height: 200px;
		position: absolute;
		font-size: 20px;
		padding-top: 2rem;
		margin: auto;
		padding-left: 5rem;
	}

	.btn {
		background-color: #76c224;
		color: aliceblue;
		position: relative;
		border: 0;
		border-radius: 10%;
		cursor: pointer;
		font-family: inherit;
		font-size: 12px;
	}

	/* End reviews */

	/* Announcements */
	.announcements-container {
		position: absolute;
		text-align: center;
		left: 22rem;
		padding-top: 35rem;
	}
}
